$font-size-paragraph: 1.8rem; // 18px

@font-face {
  font-family: 'Epilogue';
  src: url('../fonts/epilogue-medium.woff2') format('woff2'),
    url('../fonts/epilogue-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Epilogue';
  src: url('../fonts/epilogue-bold.woff2') format('woff2'),
    url('../fonts/epilogue-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
