/*------------------------------------------------------------------
[Table of contents]
    1. Colors
        1.1 Neutral
        1.2 Black and white
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
1. Colors
    1.1 Neutral
*/

$almost-white:          hsl(0, 0%, 98%);
$medium-gray:           hsl(0, 0%, 41%);
$almost-black:          hsl(0, 0%, 8%);

/*------------------------------------------------------------------
1. Colors
    1.2 Black and white
*/

$black:                 hsl(0, 0%, 0%);
$white:                 hsl(0, 0%, 100%);
